---
# Only the main Sass file needs front matter (the dashes are enough)
---


/*Main Rules for all sizes*/
body {
	background-color: #c6cbd1;
	font-family: 'Roboto', sans-serif;

}

p {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cutive Mono', monospace;
}

h1 {
	font-size: 3em;
}

#logo h1 {
	color: #033F63;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #D5A021;
}

a:active {
    text-decoration: none;
}

#header {
	padding: 10px;
}


#projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 10px;

}

.list-img{
	margin-top: auto;
	margin-bottom: auto;
}

.github-link{
	margin-right: 5px;
}

.card-body {
	padding: 4px;
}

.my-card {
  position: relative;
  grid-column: span 4;
  background-color: #048BA8;
  padding: 10px;
  padding-bottom: 30px;
}

.my-card img {
	width: 100%;
}

.my-card .links {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.my-card i {
	font-size: 2em;
	margin-left: 10px;
}

/*For Projects page*/

.one-third:nth-child(2) {
	text-align: center;
}

.one-third:nth-child(3) {
	text-align: right;
}

.one-third {
	display: inline-block;
	width: 33%;
}

.fluid-img {
	width: 50%;
	max-width: 300px;
	align: left;
}

.fluid-img {
	width: 100%;
	max-width: 500px;
	margin: auto;
	display: block;
	margin-top: 20px;
}

#home {
	* {
	background-color: #c6cbd1;
}

button:focus {
	outline:none;
}


.avitar {
	border-radius: 50%;
	width: 100%;
	max-width: 300px;

	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.center-all {
	text-align: center;
	margin: auto;
}

.inherit-width {
	width: inherit;
}

#toggleDes {
	display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {

	.vertical-center-sm {
	  display: flex;
	  align-items: center;
	}

	.super-container {
		position: relative;
		height: 100vh;
	}

	.super-container .container {

	    margin: 0;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}


}
}







/* Responsive design */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.my-card {
		grid-column: span 12;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		margin: 0 15% 0 15%;
	}
	.my-card {
		grid-column: span 12;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.my-card {
		grid-column: span 6;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.my-card {
		grid-column: span 4;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
