---
layout: default
---
<body onload="toggleDesc()">

<div class="super-container">
  <div class="container">
	<div class="row">
        <div class="col-sm-6">
          <div class="center-all">
            <img src="{{ "/assets/bigHead.jpeg" }}" class="avitar img-fluid">
            <h1>Peter Flickinger</h1>
            <p class="lead">A bit about me</p>
          </div>
        </div>
        <div class="col-sm-6 vertical-center-sm ">
          <div class="list-group list-group-flush inherit-width lead">
            <button onclick="toggleDesc()" class="list-group-item list-group-item-action">About Me</button>
              <p id="toggleDes">I'm a computer science major from Colorado. My interests include web development, videography, learning new things, and snorkling</p>
            <a href="https://www.linkedin.com/in/peter-flickinger/" class="list-group-item list-group-item-action">LinkedIn</a>
            <a href="/projects" class="list-group-item list-group-item-action">Projects</a>
          </div>
        </div>
      </div>
	</div>
</div>





<!-- Personal Script -->
<!-- <script type="text/javascript" src="script.js"></script> -->
<script>
  function toggleDesc(){
				$("#toggleDes").slideToggle();
  }


</script>
