---
layout: default
---

<div class="home">
  <div id="header">
		<div id="logo">
			<a href="https://peterfoxflick.github.io/"><h1 >PETER FOX FLICK</h1></a>
		</div>
    <div class="header">
      {{ content }}
    </div>
  </div>

     <div class="container">
   <div class="row justify-content-center" id="frame-holder">

  {%- if site.projects.size > 0 -%}
  {% assign projects = site.projects | sort: 'date' | reverse %}

    {%- for project in projects -%}
   <div class='card card-frame col-lg-4 col-md-6 col-sm-12 col-12' >
      <div class='card-body'>
        <a class="project-link" href="{{ project.url | relative_url }}">
          {%- if project.img -%}
            <img class="card-img-top" src='/assets/projects/{{ project.img }}'>
          {%- else -%}
            <h3 class="card-title">{{ project.title }}</h3>
          {%- endif -%}
          {%- if project.img and showTitle -%}
            <h3 class="card-title">{{ project.title }}</h3>
          {%- endif -%}
        </a>

        {%- if site.show_excerpts -%}
          <p class="card-text">{{ project.excerpt }}</p>
        {%- endif -%}

<!--
        <div class="links">

          {%- if project.video -%}
<a href="{{ project.video }}"  data-toggle="tooltip" title="YouTube"><i class="fab fa-youtube"></i></a>
          {%- endif -%}

          {%- if project.gitHub -%}
<a href="{{ project.gitHub }}" data-toggle="tooltip" title="GitHub Code"><i class="fab fa-github"></i></a>
          {%- endif -%}

          {%- if project.instructables -%}
<a href="{{ project.instructables }}"  data-toggle="tooltip" title="Instructables"><i class="fas fa-file-alt"></i></a>
          {%- endif -%}

        </div>
 -->
      </div>
      </div>
      {%- endfor -%}
    </div>
    </div>
  {%- endif -%}

</div>
