---
layout: default
---


<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="https://www.peterfoxflick.com">Peter Fox Flick</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
         <a class="nav-link" href="https://www.peterfoxflick.com">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.peterfoxflick.com/projects">Projects <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/peter-flickinger/">LinkedIn</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
 <div class="container">
    <div class="header my-5">
      {{ content }}
    </div>
  </div>

     <div class="container">
   <div class="row justify-content-center" id="frame-holder">

  {%- if site.projects.size > 0 -%}
  {% assign projects = site.projects | sort: 'date' | reverse %}
  <ul class="list-group list-group-flush">
     {%- for project in projects -%}
          <li class="list-group-item">
             <a href="{{ project.url | relative_url }}">
             <div class="row my-5">
                {%- if project.img -%}
                         <div class="col-md-3 col-sm-12 text-center"><div class="my-4"><img class="img-fluid list-img rounded" src='/assets/projects/{{ project.img }}'></div></div>
                {%- endif -%}
                <div class="col">
                   <h4>{{ project.title }}</h4>
                   {%- if site.show_excerpts -%}
                     <p>{{ project.excerpt }}</p>
                   {%- endif -%} -->
                </div>
             </div>
          </a>
          </li>
    {%- endfor -%}

  </ul>
  {%- endif -%}

</div>
